body {
  background-color: #F0F0F0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #C8C6C6;
  border-width: 7px;
  width: 3%;
}

h1 {
  color: #4B6587;
  font-family: 'Lucida Handwriting',cursive;
  font-size: 40px;
}

h3 {
  color: #334257;
  text-align: center;
}

ul{
  display: table;
  margin: 0 auto;
}

table {
  margin: 0 auto;
}
